/* HOME HERO */

.homeHero{
    width: 100%;
    background: #EEEBEA;

    display: flex;
    justify-content: center;

}



/* LOGO CAROUSEL */



.carousel-track {
    display: flex;
    animation: scroll 40s linear infinite;
}



/* MOBILE */
@media (max-width: 768px) {
  
    .carouselBrackets{
  height: 72px;
  max-width: 100%;
  overflow: hidden;
 
  position: relative;
  top: -30px;
  border-radius: 8px;
}
  
  
  .carousel {
    overflow: hidden;
    max-width: 100%;
        position: relative;
}
  
  .carousel-slide {
    min-width: 949px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide img {
    max-width: 100%;
    height: 72px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-949px); /* Adjust this value based on the total width of logos */
    }
}
  
  
}


/* DESKTOP */
@media (min-width: 768px) {
  
  .carouselBrackets{
  height: 120px;
  max-width: 1536px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  top: -60px;
}
  
  .carousel {
    overflow: hidden;
    max-width: 100%;
    position: relative;
  }
  
  .carousel-slide {
    min-width:1898px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide img {
    max-width: 100%;
    height: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1898px); /* Adjust this value based on the total width of logos */
    }
}
  
}


/* MOBILE */
@media (max-width: 768px) {
    #RobertKoh_name{
        font-size: 60px;
    }

    #name_description{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #homeHeroImg{
        object-fit: contain;
        width: 85%;
        /* height:50vh */
    }

    .homeHeroWrapper{
        width: 100%;
        padding-top: 3em;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
  }


/* DESKTOP */
@media (min-width: 768px) {
    #name_description{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #RobertKoh_name{
        font-size: 80px;
        line-height: 95%;
    }

    #homeHeroImg{
        object-fit: contain;
        width: 50%;
    }

    .homeHeroWrapper{
        max-width: 1440px;
        width: 100%;
        height: 550px;
        padding: 100px 20px 0 20px;
        display: flex;
        box-sizing: border-box;
    
    }
}




/* WORK CARDS */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 32px;
     box-sizing: border-box;
  }
  
  .card{
    transition: box-shadow .3s;
    display: flex;
    flex-direction: column;
     text-decoration:none;
    color: #3E3E3E;
    margin-bottom: 3em;
    gap: .5em;
  }
  
  .articleThumb{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    
    /* margin: 1em 0; */
    transition: all 0.1s linear;
  }


.articleThumb:hover{
    width: 100%;
    object-fit: cover;
    transform: scale(1.13);
    transition: all 0.1s linear;
}

.thumbholder{
    border-radius: 10px;
    background: blue;
    margin-bottom: 1em;
    overflow: hidden;
    height: 20rem;
}
  
  
  .categorylabel{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background: #EBE6FF;
    font-weight: 600;
    width: auto;
    padding: .4em;
    border-radius: 4px;
  }
  
  .labelholder{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    margin-bottom: .5em;
  }




/* TYPOGRAPHY */

@media (min-width: 960px) {
    h1{
        font-family: 'Lora', sans-serif;
        font-weight: 500;
        font-size: 75px;
        margin: 0;
        color: #3E3E3E;
        line-height: 1.1em;
    }
}

@media (max-width: 960px) {
    h1{
        font-family: 'Lora', sans-serif;
        font-weight: 500;
        font-size: 54px;
        margin: 0;
        color: #3E3E3E;
    }
}


h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin-top: 15px;
    color: #3E3E3E;
}


h2{
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    font-size: 48px;
    margin: 0;
    color: #3E3E3E;
    line-height: 110%;
}


h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0px;
    color: #3E3E3E;
}

h5 {
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0px;
    color: #3E3E3E;
}

h6 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #3E3E3E;
}

p, li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #3E3E3E;
    margin-top: .7em;

}

.caption{
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    color: #8A8A8A;
    margin-bottom: 40px;
    text-align: left;
  }


/* GLOBAL */

body{
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }


/* SIDEBAR FIX */


.motionAsset{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

@media (min-width: 768px) {
    .third{
        width: 30%;
        height: 100%;
        display: inline-block;
        float: left;

    }

  

    .motionAsset video{
        width: 50%;
    }

    #h1Alt{
        font-size: 54px;
        transition: all 0.1s linear;
    }

    #sidecontentAlt{
        position: fixed;
        top: 90px;
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .third{
        width: 100%;
        height: 100%;
        display: block;
        float: left;
    }

    .motionAsset video{
        width: 90%;
    }

    
}

@media (min-width: 768px) {
    .two-thirds{
        width: 63%;
        height: 100%;
        display: inline-block;
        float: right;
    }
}

@media (max-width: 768px) {
    .two-thirds{
        width: 100%;
        height: 100%;
        display: block;
        float: left;
    }
}






/* FOOTER */

/* MOBILE */
@media (max-width: 768px) {


    .footerInner{
        display: flex;
        flex-direction: column;
        margin: 1em 0 6em 0;
        justify-content: space-between;
        gap: 1em;
        background:#EEEBEA;
        border-radius: 8px;
        padding: 1.8em 24px 1.8em 24px;

    }
    
    .contactMethods{
    
        display: flex;
        flex-direction: column;
       
    
    }
    
    .contactText{
        font-family: 'Lora', sans-serif;
        font-weight: 500;
        font-size: 26px;
        text-decoration: none;
        color: #3E3E3E;
    }
    
    .contactItem {
       height: 70px;
       display: flex;
       align-items: center;
       gap: .7em;
    }

    footer{
       width: 100%;
       padding: 0 20px;
       box-sizing: border-box;
    }

    
}





/* DESKTOP */
@media (min-width: 768px) {


    footer{
        display: flex;
        max-width: 1480px;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .footerInner{
        display: flex;
        flex-direction: row;
        padding: 24px;
        justify-content: space-between;
        background:#EEEBEA;
        width: 100%;
        border-radius: 8px;

    }
    
    .contactMethods{
        display: flex;
        flex-direction: row;
        gap: 2em;
    
    }
    
    .contactText{
        font-family: 'Lora', sans-serif;
        font-weight: 500;
        font-size: 28px;
        text-decoration: none;
        color: #3E3E3E;
    }
    
    .contactItem {
       height: 70px;
       display: flex;
       align-items: center;
       gap: .7em;
    }
    
}










.divider{
    width: 100%;
    height: 1px;
    background-color: #D6D6D6;
    margin: 80px 0;
}


/* NAVIGATION */

  .hide {
    opacity: 0;
    transition: opacity 0.3s;
  }



  


@media(min-width: 768px) {


    .clear {
        background-color: transparent;
      }
    
      .white {
        background: rgb(255,255,255, 0.8);
        border-bottom: 1px solid #d6d6d6;
      }
    

    #RKlogo{
        margin-top: 16px;
        margin-left: 20px;
        display: inline-block;
        float: left;
        cursor: pointer;
        transition: all 0.2s linear;
        width: 50px;
    }

    #RKlogo:hover{
        margin-top: 26px;
        transition: all 0.2s linear;
    }

    nav{
        width: 100%;
        height: 87px;
        position: fixed;
        
        -webkit-backdrop-filter:blur(25px);
        backdrop-filter: blur(25px);
    }

    #navlist{
        float: right;
        margin-right: 20px;
        -webkit-user-select: none;
        user-select: none;
        -ms-user-select: none;
    }

    #navitemSelected::after{
        width: 100%;
        background-color: #3206FF;
    }

    .navitems::after{
        content:'';
        width: 0px;
        height: 4px;
        background-color: #3E3E3E;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width 0.2s linear;
    }



    .footernavicon{
        display:none;
    }

    .navitems{
        display: inline-block;
        font-size: 22px;
        color: #3E3E3E;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-align: center;
        width: 100px;
        height: 40px;
        padding-top: 12px;
        -webkit-user-select: none;
        user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        position: relative;
    }

    #navitem-home-mobile{
        -webkit-user-select: none;
        user-select: none;
        -ms-user-select: none;
        display: none;
    }

}


@media (max-width: 768px) {

    #RKlogo{
        display: none;
    }

    .footernavicon{
        display:block;
        text-align: center;
        margin: 0 auto;
        padding-top: 12px;
        padding-bottom: 4px;
        transition: all 0.2s linear;
        opacity: 1;
    }

    .navitems{
        display: inline-block;
        font-size: 11px;
        color: #3206FF;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        text-align: center;
        width: 74px;
        height: 70px;
        margin-top: 0;
        -webkit-user-select: none;
        user-select: none;
        -ms-user-select: none;
        transition: all 0.2s linear;
        opacity: 1;
    }

    .navitems:active{
        background: #E7EEFF;
        transition: all 0.2s linear;
    }

    #navitem-home-mobile{
        display: inline-block;
    }

    nav{
        width: 100%;
        height: 70px;
        position: fixed;
        bottom: 0;
        background: rgb(255,255,255, 0.8);
        -webkit-backdrop-filter:blur(25px);
        backdrop-filter: blur(25px);
    }


    #navlist{
        width: 100%;
        float: none;
        padding-inline-start: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        box-shadow: 0px -5px 23px rgba(0, 0, 0, 0.1);

    }
}


/* BUTTONS */

.pill-button {
    display: inline-block;
    padding: 10px 20px; 
    border: 2px solid #3E3E3E; 
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: #3E3E3E;
    font-weight: bold;
transition: all 0.1s cubic-bezier(.87,-.41,.19,1.44);
font-family: 'Open Sans', sans-serif;
align-self: flex-start;
}

/* Hover effect */
.pill-button:hover {
    background-color: #EBE6FF;
    color: #3206FF;
    border: 2px solid #3206FF; 
  transform: translateY(-4px) ; 
  box-shadow: 0px 4px 0px 0px #3206FF;
  transition: all 0.3s cubic-bezier(.87,-.41,.19,1.44)
}

.pill-button:active{

  transform: translateY(-1px) ; 
  box-shadow: 0px 1px 0px 0px #000;
  transition: all 0.1s cubic-bezier(.87,-.41,.19,1.44)

}






@media (min-width: 960px) {
   
    
    .button-ghost:hover{
        background: #EBE6FF;
        border-style: solid;
        border-width: 2px;
        border-color: #EBE6FF;
        transition: all 0.2s linear;
    }

    .button-social:hover{
        width: 52px;
        height: 52px;
        border-radius: 26px;
        margin-bottom: 0;
        padding-top: -52px;
        background-color: #EBE6FF;
        transition: all 0.2s linear;
    }
    .more-link::after{
        vertical-align: middle;
        background-color: none;
        content:'';
        width: 0px;
        height: 40px;
        background-color: none;
        display: block;
        margin-top: -40px;
        transition: all 0.2s linear;
    }
    
    .more-link:hover:after{
        vertical-align: middle;
        background-color: none;
        content:'';
        width: 100%;
        height: 40px;
        background-color: #EBE6FF;
        display: block;
        margin-top: -40px;
        transition: all 0.2s linear;
    }

    #breadcrumb:hover:after{
        content:'';
        width: 80px;
        height: 40px;
        background-color: #EBE6FF;
        display: block;
        margin-top: -40px;
        transition: all 0.2s linear;
    }

    .navitems:hover::after{
        width: 100%;
    }
  } 

  

.CTAarrow{
    display:none;
}



.button-ghost{
    height: 52px;
    background-color: white;
    color:  #3206FF;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;
    border-radius: 26px;
    padding-left:20px;
    padding-right:20px;
    width: auto;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: #3206FF;
    user-select: all;
}

.button-ghost:active{
    transform: scale(.94);
    transition: all 0.1s linear;
    background-color: #E7EEFF;
}

.button-social{
    width: 52px;
    height: 52px;
    border-radius: 26px;
    background-color: #1E0499;
    transition: all 0.2s linear;
}



button{
    border: none;
    outline:none;
    cursor: pointer;
    background-color: white;
}


@media (max-width: 500px) {
    .more-link{
        color: #3206FF;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 23px;
        vertical-align: middle;
        background-color: none;
        padding: 0;
        width: auto;
    }
}

@media (min-width: 500px) {
    .more-link{
        color: #3206FF;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 27px;
        vertical-align: middle;
        background-color: none;
        padding: 0;
        width: auto;
        display: inline-block;
    }
}






#breadcrumb{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #3E3E3E;
    cursor: pointer;
}

#breadcrumb::after{
    content:'';
    width: 0px;
    height: 40px;
    background-color: none;
    display: block;
    margin-top: -40px;
    transition: all 0.2s linear;
}






/* HOME */

#avatar{
    width: 100%;
    object-fit: cover;
}





#Recent_work_block{
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .card-container{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
  }

@media (max-width: 768px) {
    .card-container{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }



.project-thumb{
    width: 100%;
    height: 20rem;
    object-fit: cover;  
    transition: all 0.1s linear;
}

.project-thumb:hover{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    transform: scale(1.13);
    transition: all 0.1s linear;

}

@media (min-width: 768px) {
    .card-block{
        width: 32%;
        height:450px;
        background-color: white;
        cursor: pointer;
    }
  }


@media (max-width: 768px) {
    .card-block{
        width: 100%;
        height:450px;
        background-color: white;
        margin-top: 30px;
        
    }
  }


.bannerwrapper {
    width: 100%;
    height: 600px;
    display: block;
}



@media (min-width: 960px) {
    #bannerimg{
        width: 272px;
        height: 272px;
        margin-top: 177px;
        
        display: inline-block;
        float: right;
    }
}

@media (max-width: 960px) {
    #bannerimg{
        width: 200px;
        height: 200px;
        margin-top: 0px;
       
        display: block;
        float: left;
    }
}


@media (min-width: 768px) {
    .half-block-reverse{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    .half-block-reverse{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 60px;
    }
}

@media (min-width: 768px) {
    .half-block{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    .half-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 60px;
    }
}

@media (min-width: 768px) {
    .half-img{
        width: 48%;
        object-fit: cover;
        height: 350px;
        background-color:grey;
        border-radius: 8px;
    }
}

@media (max-width: 768px) {
    .half-img{
        width: 100%;
        height: 280px;
        background-color:grey;
        margin-top: 30px;
        object-fit: cover;
        border-radius: 8px;
    }
}

@media (min-width: 768px) {
    .content-preview{
        width: 48%;
    }
}

@media (max-width: 768px) {
    .content-preview{
        width: 100%;
    }
}

/* ABOUT */

#logogrid{
    width: 100%;
    display: block;
    text-align: justify;
}

@media (min-width: 640px) {
    .gridlogo{
        width: 32%;
        display: inline-block;
    }
}

@media (max-width: 640px) {
    .gridlogo{
        width: 46%;
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .twothirds-wrapper{
        max-width: 1440px;
        margin: 0 auto;
        padding: 180px 20px 0 20px; 
    }   
}

@media (max-width: 768px) {
    .twothirds-wrapper{
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px 20px 0 20px; 
    }   
}




.timebox{
    height: 50px;
    width: 80%;
    border-left: solid 1px #D6D6D6;;
    margin-left:10px;
    padding-left: 27px;
    padding-top: 6px;
    padding-bottom: 4rem;
  }

  .timebox-end{
    height: 50px;
    width: 80%;
    margin-left:10px;
    padding-left: 27px;
    padding-top: 6px;
  }
  
  .circle{
    width:16px;
    height:16px;
    border-radius: 8px;
    background: #D6D6D6;
    margin-left: 3px;
    margin-top: 8px;
  }

  a{
      text-decoration: none;
  }


  #pulsecircle{
    width: 16px;
    height: 16px;
    border: none;
    box-shadow: 0 0 0 0 #3206FF;
    border-radius: 50%;
    background-color: #3206FF;
    -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(0, 64, 208, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(0, 64, 208, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(0, 64, 208, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(0, 64, 208, 0);}}
  
  .timepoint{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    margin-left: 22px;
    margin-top: 5px;
    color: #8A8A8A;
  }
  
  .pointHolder{
    display: flex;
    flex-direction: row;
    margin-top: -6px;
  }

  .company-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #3E3E3E;
    margin-bottom: -5px;
  }

.fullimg{
    width: 100%;
    margin-top: 50px;
}

.imgnomargin{
    width: 100%;
}

.cv-wrapper{
    width: 100%;
    display:inline-block;
}

.half-block-wrap{
    width: 100%;
    text-align: justify;
}

@media (min-width: 640px) {
    .persona{
        display: inline-block;
        max-width: 50%;
    }
}

@media (max-width: 640px) {
    .persona{
        display: block;
        max-width: 100%;
    }
}




.personagroup{
    margin-top: 40px;
    width:100%;
}



@media (min-width: 640px) {
    .card-block-half{
        width: 47%;
        
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin-bottom: 80px;
        cursor: pointer;
    }
}

@media (max-width: 640px) {
    .card-block-half{
        width: 100%;
        background-color: white;
        vertical-align: top;
        text-align: left;
        display: block;
        margin-bottom: 80px;
       
    }
}

.skillimg{
    width: 150px;
    margin-bottom:20px;
}


nav{
z-index: 5;
}

#project-nav{
    width: 100%;
    height: 60px;
    margin-top: 60px;
    text-align: justify;
    display: flex;
    justify-content: space-between;
}

.label{
    margin-top: 30px;
    margin-bottom: -5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color:#8A8A8A
}

.quotesection{
    width: 100%;
    margin: 10% 0;
    text-align: center;
 
}

.quotemark{
    margin: 10px auto;
}

.author{
    color: #8A8A8A;
}

.quote{
    font-size: 26px;
}

video{
    width: 100%;
}




/* TOOLTIP */

#tooltiphidden{
    visibility: hidden;
  }
  
  #tooltipshow{
    visibility: visible;
  }
  
  #tooltipcopied{
    visibility: visible;
    background: blue;
    width: 60px;
    transition: all 0.1s linear;
  }
  
  
  .tooltip{
    padding:5px;
    font-family: 'Open Sans', sans-serif;
    width: 120px;
    height:20px;
    line-height: 20px;
    font-size: 13px;
    background: #2F2D39;
    color: white;
    text-align: center;
    margin: 0 auto;
  }
  
  .triangle{
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #2F2D39;
    margin: 0 auto 7px auto;
    visibility: hidden;
  }
  
  #trianglecopied{
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid blue;
    margin: 0 auto 7px auto;
    visibility: visible;
  }



















